/************************************************************************************************************
											Typography
***************************************************************************************************************/
/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Ubuntu', sans-serif;
font-family: 'Droid Serif', serif;
*/
@font-face {
    font-family: wed-font;
    src: url(entypo-fontello.woff);
}

@font-face {
    font-family: curse-font;
    src: url('Dancing Script OT.otf');
}

p{
	color: #000;
	text-align: center;
	margin-bottom: 0;
	padding-bottom: 0;
	font-weight: 300;
	font-weight: italic;
}

h2 {
	text-align: center;
	font-family: 'wed-font';
	font-weight: 100;
	
}

h1,h3{
	text-align: center;
}
/************************************************************************************************************

												General

***************************************************************************************************************/
body{
	max-height: 100%;
	overflow-x: hidden;
	margin: auto;
	padding-top: 76px;
	
	
}


li {
	list-style: none;
}

.icon{
	width:80px;
	height:80px;
}

/************************************************************************************************************

					
Color Scheme

***************************************************************************************************************/

.navbar-default .navbar-brand {
	
	
}

.nav, .navbar-nav{

}

.navbar-default .navbar-nav a{
		
}

.navbar-default {
	background-image: none;
	background-color: #00adef;
}

.navbar-nav>li{

}

.navbar-nav a{
	font-family: 'Abril Fatface', cursive;
	

}

.navbar-default .navbar-nav>li>a {
		color: #fff;
		background-color: ;
		text-shadow: 1px 1px 1px black;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	color: #2CC0B3;
	background-color:#f5f5f5;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
	background-image: none;
	background-color: ;
	text-shadow: 1px 1px 1px white;
	
}

.nav-bord{
	border-bottom: solid 3px;
	border-bottom-color:rgba(0,0,0,.7);
}

/************************************************************************************************************

												Navigation

***************************************************************************************************************/
.nav-logo{
	position: absolute;
	top: 2px;
}
.logo{
	height: 60px;
	width: 300px;
}

.navbar-brand{
	padding: 10px;
	padding-bottom: 10px;
	margin:0px;
	padding-left: 50px;
	margin-top:5px;
	margin-bottom: 35px;
}

.navbar ul {
	margin-top: 22.5px;
	padding-right: 60px;
}

.navbar ul a{
	text-align: center;
	width:100px;
	font-size: 1.0em;
	font-family: 'wed-font';
	font-weight: 600;
}
/************************************************************************************************************

												Header

***************************************************************************************************************/



.header-img{
	height:650px;
	width:100%;
	padding-top: 30px;
	overflow: hidden;
	
		
}

.heading-dance{
	height:390px;
	width:100%;
	border-bottom: solid;
	border-color: rgba(0,0,0.4);
	
	
	
}

.header-image{
	height: 390px;
	background-image: url(../Eli/wedding_dance.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-bottom: solid;
	border-color: rgba(0,0,0.4);
	
	
}

.header-image h3{
	position: absolute;
	top:15.2em;
	left: 35em;
	font-family: cursive;
	text-shadow: 2px 2px 2px black;
	color: white;
}
/************************************************************************************************************

												Footer

***************************************************************************************************************/
#footer{
	padding-top: 20px;
	border-top: solid 2px;
	border-color: #000;
}

footer{
	padding-top: 20px;
	border-top: solid 2px;
	border-color: black;
}

footer .logo{
	float: left;
	margin-left: 10px;
}

.copywrite{
	float: left;
	text-align: center;
	padding-top: 15px;;
	margin-left: 10%;
	font-family: 'Droid Serif', serif;
	font-weight: 100;
	font-size: 2em;
	color:black;	
}

.social-media li{
	display: inline-block;
	float: right;
	margin-right: 50px;
	padding-bottom: 10px;
}



/************************************************************************************************************

												Row

***************************************************************************************************************/
.info-row{
	padding-top: 10px;
	padding-bottom: 40px;
	
}


/**************************************************************************************************************
***************************************************************************************************************
***************************************************************************************************************
***************************************************************************************************************

												Individual Pages

***************************************************************************************************************
***************************************************************************************************************
***************************************************************************************************************
***************************************************************************************************************/

/************************************************************************************************************

												Home

***************************************************************************************************************/


.questionaire h1{
	font-family: curse-font;
	font-size: 4.6em;
	font-weight: 800;
	line-height: 35px;
}

.questionaire h3{
	font-family: wed-font;
	font-weight: 100;

}

.questionaire p{
	padding-bottom: 25px;
}

.question-box h3{
	padding: 10px;
	width: 25%;
	margin: auto;
	border: solid black;
	background-color: peachpuff;
	color: black;
	font-weight: 400;
}

.question-box{
	padding-bottom: 50px;
}

/************************************************************************************************************

												About

***************************************************************************************************************/






/************************************************************************************************************

												Gallery

***************************************************************************************************************/

#Gallery{
	width:90%;
	margin: auto;
	padding-bottom: 600px;
	
}



.cover{
	height: 120px;
	width:120px;
	padding-left: 70px;
	padding-top:70px;
}

/************************************************************************************************************

											Media Queries
											
***************************************************************************************************************/


