/************************************************************************************************************
											Typography
***************************************************************************************************************/
/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Ubuntu', sans-serif;
font-family: 'Droid Serif', serif;
*/
@font-face {
    font-family: wed-font;
    src: url(entypo-fontello.woff);
}

@font-face {
    font-family: curse-font;
    src: url('Dancing Script OT.otf');
}



@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

p{
	color: #000;
	text-align: center;
	margin-bottom: 0;
	padding-bottom: 0;
	font-weight: 300;
	font-weight: italic;
}

h2 {
	text-align: center;
	font-family: 'wed-font';
	font-weight: 100;	
}

h1{
	font-family: 'curse-font';
}

h1,h3{
	text-align: center;
}
/************************************************************************************************************

												General

***************************************************************************************************************/

body{
	max-height: 100%;
	overflow-x: hidden;
	margin: auto;
	padding-top: 76px;
	
	
}


li {
	list-style: none;
}

.icon{
	width:80px;
	height:80px;
}

.iconz{
	width:280px;
	height:80px;	
}

.icons{
	padding-left: 1px;
	padding-top:10px;
	width:130px;
	height:80px;
}
/************************************************************************************************************

					
Color Scheme

***************************************************************************************************************/
.navbar-default .navbar-toggle .icon-bar,.navbar-default2 .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-default .navbar-brand {
	
	
}

.nav, .navbar-nav{

}

.navbar-default .navbar-nav a{
		
}

.navbar-default {
	background-image: none;
	background-color: #00adef;
}

.navbar-default2 {
	background-image: none;
	background-color: #000;
	padding-bottom: 5px;
	
}


.navbar-nav>li{

}

.navbar-nav a{


}

.navbar-default .navbar-nav>li>a {
		color: #fff;
		background-color: ;
		
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	color: #2CC0B3;
	background-color:#000;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
	background-image: none;
	background-color:  #f5f5ff;
	text-shadow: 1px 1px 6px white;
	
}

.navbar-default2 .navbar-nav>li>a {
		color: #fff;
		background-color: ;
		text-shadow:;
}

.navbar-default2 .navbar-nav>li>a:focus, .navbar-default2 .navbar-nav>li>a:hover{
	color: #2CC0B3;
	background-color:#000;
}

.navbar-default2 .navbar-nav>.active>a, .navbar-default2 .navbar-nav>.open>a {
	background-image: none;
	background-color:  #00adef;
	text-shadow: 0px 0px 10px white;
	
}

.nav-bord{
	border-bottom: solid 3px;
	border-bottom-color:rgba(0,0,0,.7);
}

/************************************************************************************************************

												Navigation

***************************************************************************************************************/
.nav-logo{
	position: absolute;
	top: 2px;
}
.logo{
	height: 60px;
	width: 300px;
}

.navbar-brand{
	padding: 10px;
	padding-bottom: 10px;
	margin:0px;
	padding-left: 50px;
	margin-top:5px;
	margin-bottom: 35px;
}

.navbar ul {
	margin-top: 22.5px;
	padding-right: 60px;
}

.navbar ul a{
	text-align: center;
	width:100px;
	font-size: 1.2em;
	font-family: 'goth-font';
	font-weight:100 ;
	text-shadow: 6px 1px 8px ;
}
/************************************************************************************************************

												Header

***************************************************************************************************************/
.header-bio{
	padding: 10px;
}


.header-img{
	height:650px;
	width:100%;
	padding-top: 30px;
	overflow: hidden;
	
		
}

.heading-dance{
	height:390px;
	width:100%;
	border-bottom: solid;
	border-color: rgba(0,0,0.4);
	
	
	
}

.header-image{
	height: 390px;
	background-image: url(../Eli/wedding_dance.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-bottom: solid;
	border-color: rgba(0,0,0.4);	
}

.header-image h3{
	position: absolute;
	top:55%;
	left: 70%;
	font-family: cursive;
	text-shadow: 2px 2px 2px black;
	color: white;
}

.header-image h3:after{
	position: static;
}



.header-image2{
	height: 390px;
	width:100%;
	background-image: url(../Eli/floor-lights.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-bottom: solid;
	border-color: rgba(0,0,0.4);	
}


.header-image2 h3{
	position: absolute;
	top:62%;
	left: 18%;
	font-family: cursive;
	text-shadow: 2px 2px 2px black;
	color: white;
	font-size: 2.6em;
	font-stretch:ultra-expanded;
}

.header-image2 h3:after{
	position: static;
}

/************************************************************************************************************

												Footer

***************************************************************************************************************/


footer{
	padding-top: 0px;
	overflow: hidden;
	
	
}

#footer{
	padding-top: 0px;
	
}

footer .logo{
	float: left;
	margin-left: 10px;
}

.copywrite{
	float: left;
	text-align: center;
	padding-top: 15px;;
	margin-left: 10%;
	font-family: 'Droid Serif', serif;
	font-weight: 100;
	font-size: 2em;
	color:black;	
}

.social-media ul{
	width:100%;
	margin: 0;
	padding-right: 20%;
	overflow: hidden;
	
}
.social-media li{
	display: inline-block;
	float: right;
	margin-right: 50px;
	padding-bottom: 10px;
	
}

.social-media li img{
	height:30px;
	width:30px;
}

footer nav{
	border-top: solid 2px;
	padding-top: 5px;
	background-image: url("../Eli/texture.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

footer nav p{
	padding-top: 6px;
	color: aliceblue
}
/************************************************************************************************************

												Row

***************************************************************************************************************/
.info-row{
	padding-top: 10px;
	padding-bottom: 40px;
	
}


/**************************************************************************************************************
***************************************************************************************************************
***************************************************************************************************************
***************************************************************************************************************

												Individual Pages

***************************************************************************************************************
***************************************************************************************************************
***************************************************************************************************************
***************************************************************************************************************/

/************************************************************************************************************

												Home

***************************************************************************************************************/
.contact{
	width:85%;
	margin: auto;}

.questionaire h1{
	font-family: curse-font;
	font-size: 4.6em;
	font-weight: 800;
	line-height: 35px;
}

.questionaire h3{
	font-family: wed-font;
	font-weight: 100;

}

.questionaire p{
	padding-bottom: 25px;
	font-weight: bold;
}

.question-box1 h3{
	padding: 10px;
	width: 25%;
	margin: auto;
	border: solid black;
	background-image: url("../Eli/texture.jpg");
	background-size: cover;
	color: lightcyan;
	font-weight: 400;
	text-shadow: 4px 2px 4px black;
	box-shadow: 0px 0px 30px black;
}

.question-box{
	padding-bottom: 10px;
	width:30%;
	margin: auto;
}

.question-box1{
	padding-bottom: 50px;
	
}
/************************************************************************************************************

												About

***************************************************************************************************************/

#About{
	padding-top: 300px;
	 height: 630px;
	text-align: center;
	padding-top: 30px;
	position: relative;
	overflow: hidden;
	background-color: #15191f 		
}

#About p{
	color:#fff;
}

.row-about{
	padding-bottom:130px;

}

#About-head {
	color:#000;
	font-size: 1.3em;
	font-family: 'Droid Serif';
}

.about-title{
	padding-top: 0px;	
}

.about-title h2{
	
	font-size: 5em;
	
	border-bottom: solid;
	
	position: absolute;
	left: 60%;
	
	color: #fff;
	text-shadow: 1px 1px 1px aqua;	
	
	font-family: curse-font;
	font-weight:100;
	
}



.about-bio{
	padding-top: 120px;
	padding-right: 50px;
	position: absolute;
	left:50%;
		overflow: hidden;
}




.about-pic img{
	padding-top: 0px;
	width: 90%;
	padding-left: 50px;
	position: absolute;
	padding-top: 20px;
	left:1%;
	height: 500px;
	overflow: hidden;
}



.about-top{
	padding-bottom: 55px;
}

.about-top p{
	font-size: 1.5em;
	
}

/************************************************************************************************************

												Gallery

***************************************************************************************************************/
.gallery-back{

	background-image:url("../Eli/texturegal.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}


#Gallery{
	width:90%;
	margin: auto;
	padding-bottom: 50px;
	height: 1300px;
	
}

.gal{
	
	height: 100%;
}

.gal li:nth-child(7n+0){
	border-left:solid white;
}
.gal li:nth-child(7n+1){
	border-right:solid white;
}
.gal li:nth-child(n+50){
	border-bottom:solid white;
}

.gal li:nth-child(7),.gal li:nth-child(6),.gal li:nth-child(5),
.gal li:nth-child(4),.gal li:nth-child(3),.gal li:nth-child(2),
.gal li:nth-child(1){
	border-top:solid white;
}

.cover{
	height: 120px;
	width:120px;
	padding-left: 70px;
	padding-top:70px;
}


.gal-thumb{
	height:130px;
	width: 130px;
}
/************************************************************************************************************

												Booking

***************************************************************************************************************/

.questions{
	padding-top: 150px;
	width: 55%;
	margin: auto;
	padding-bottom: 150px;
	
}


/************************************************************************************************************

												Carousel

***************************************************************************************************************/
#carousel-wedding{
	padding-top: 17px;
	padding-bottom: 0px;
}

.wed-space{
	padding-top: 30px;
}

.wed-space h3{
	font-family: Ubuntu;
	font-weight: 100;	
	font-size: 1.3em;
	
}
.item img{
	max-height:400px;
	width:1400px;
}

/************************************************************************************************************

											Media Queries
											
***************************************************************************************************************/

#h1{
	font-family: curse-font;
}

@media (max-width: 1338px){
	.row p{
		font-size: .9em;
		padding-left: 5px;
		padding-right: 5px;
		}
	.col-md-4{
		
		padding-left: 5%;
	}
}

@media (max-width:1225px){
	.social-media ul{
	margin: 0;
	padding-right: 20%;
	
	}
	.social-media li{
		margin-right: 20px;
		padding-bottom: 10px;

	}

	

	footer nav{
		height:50px;
	}

	

}

@media (max-width: 1145px){
		.header-image h3{
			top:56%;
			left: 63%;	
		}
	
		.header-image2 h3{
			top:62%;
			left: 28%;
			font-size: 2em;
			}
		.lb-album{
			width: 100%;			
		}
	
		.gal{
			height:100%;
		overflow: hidden;		
			}
	
	#Gallery{
		height:100%;
	}
	
	.gal li:nth-child(7n+0){
	border-left:none;
		}
		.gal li:nth-child(7n+1){
			border-right:none;
		}
		.gal li:nth-child(n+50){
			border-bottom:none;
		}

		.gal li:nth-child(7),.gal li:nth-child(6),.gal li:nth-child(5),
		.gal li:nth-child(4),.gal li:nth-child(3),.gal li:nth-child(2),
		.gal li:nth-child(1){
			border-top:none;
		}
	.lb-album li > a span,.lb-album li > a, .gal-thumb{
		max-width:120px;
		max-height:120px
	}
	.icons{
	width:110px;
	height:60px;
	}
	
}

@media (max-width:978px){
		.lb-album li > a span,.lb-album li > a, .gal-thumb,icons{
		max-width:110px;
		max-height:110px
	}
	.icons{
	width:100px;
	height:50px;
	}

}
@media (max-width:955px){
	.social-media ul{
	margin: 0;
	padding-right: 10%;
		padding-left: 0%;
		overflow: hidden;
	
	}
	.social-media li{
		margin-right: 1px;
		padding-bottom: 10px;

	}


	footer nav{
		height:80px;
	}

	footer nav p{
		padding-top: 6px;
		font-size: em;
		
	}
	
	.header-image2 h3{
			font-size: 1.6em;
			top:65%;
			}
	
	.questions{
	padding-top: 100px;
	padding-right:20px;
	margin:auto ;
	padding-bottom: 10px;
	width: 100%;
	
}
	
}

@media (max-width: 935px){
	.navbar ul a{
		font-size:.8em;
		width: 74px
				}
	
	.navbar ul {
	margin-top: 22.5px;
	padding-right: 0px;
				}
	
	.col-xs-12{
		padding-bottom: 55px;
		overflow: auto;
		height: 100%;
	}
	.about-title h2{
		top:0%;
	}
	
	.booking{
		width:100%;
	}
	
	.lb-album li > a span,.lb-album li > a, .gal-thumb,icons{
		max-width:100px;
		max-height:100px
	}
	.icons{
	width:70px;
	height:40px;
	}
}

@media (max-width: 767px){
		.navbar-brand{
			padding: 1%;
			padding-bottom:0px;
			margin:0px;
			padding-left:20%;
			margin-top:5px;
			margin-bottom: 20px;
		}
	.questionaire h1{
		font-size: 3em;
		line-height: 80px;
		padding-left: 50px;
			}
	
	.questionaire h3{
		font-size: em;
		padding-left: 15px;
			}
	
	.question-box{
		padding-bottom: 10px;
		width:0%;
		margin-left: 24%;
			}
	
	.header-image2 h3{
			top:65%;
			left:20%;
			font-size: 1.4em;
			}
	
	.about-bio{
		padding-top: 120px;
		padding-right: 50px;
		left:0%;
	}

	.about-title h2{
		left:25%;
	}


.about-pic img{
		padding-top: 0px;
		width: 90%;
		padding-left: 50px;
		padding-top: 20px;
		
	}
	
	.questions{
		padding-top:20px;
	}
	
	.lb-album li > a span,.lb-album li > a, .gal-thumb,icons{
		max-width:80px;
		max-height:80px;	
	}
	
}


@media (max-width: 500px){
		.navbar-brand{
			padding: 1%;
			padding-bottom:0px;
			margin:0px;
			padding-left:6%;
			margin-top:5px;
			margin-bottom: 20px;
		}
		.col-md-4{
		
		padding-left: 10%;
	}
	
	.questionaire h1{
	font-size: 2.8em;
	line-height: 80px;
		padding-left: 50px;
			}
	.questionaire h3{
	font-size: 1.6em;
		padding-left: 20px;

			}
	
	.question-box{
	padding-bottom: 10px;
	margin-left: 10%;
	}

	.header-image2 h3{
			left: 3%;
			font-size: 1.2em;
			
			}
	.about-title h2{
		left:15%;
	}
	
	

}